:root {
  --light-blue: #f5f6fb;
  --dark-blue: #0034e3;
}

html {
  box-sizing: border-box;
  height: 100%;
  margin: -10px;
  padding: -10px;
  color: var(--dark-blue);
}

/* HEADER */
header {
  position: relative;
  height: 30px;
}

.logo {
  position: absolute;
  top: 10px;
  width: 35px;
  text-align: left;
  left: 20px;
}

.navigation {
  position: absolute;
  text-align: right;
  top: 12px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  right: 20px;
}

a {
  font-family: "Anton";
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ABOUT ME PAGE */

#main {
  position: relative;
  top: 30px;
  height: 100vh;
  background-color: var(--light-blue);
  padding: 0;
  width: 100vw;
}

#main h1 {
  font-family: "Anton";
  letter-spacing: 5px;
  font-size: 35px;
  font-weight: 100;
  z-index: 30;
  position: absolute;
  margin-left: 5%;
  margin-top: 10px;
}

#main img {
  width: 100vw;
  padding: 0;
  height: auto;
  display: block;
  margin: 0;
}

.eli-descp p,
.eli-descp2 {
  display: block;
  padding-left: 15px;
  margin-top: -30px;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.7;
  font-weight: 300;
  border-left: 0.07em solid var(--dark-blue);
}

.eli-descp {
  position: absolute;
  left: 12%;
  top: 15%;
}

.eli-descp2 {
  position: absolute;
  right: 8%;
  top: 53%;
}

.eli-descp2 p {
  margin: 0;
  font-size: 14px;
}

.eli-descp2 .contact-inf p {
  margin-top: 15px;
  font-size: 11px;
}

/* MEDIUM SCREENS */

@media all and (min-width: 700px) {
  html {
    padding: 15px 50px;
  }

  #main {
    background-color: white;
  }

  #main h1 {
    letter-spacing: 20px;
    font-size: 60px;
    left: 5%;
    top: 0;
  }

  #main img {
    width: 60%;
    min-width: 300px;
    max-width: 550px;
    height: auto;
    display: block;
    position: absolute;
    top: -2%;
    left: 35%;
    z-index: 0;
  }

  .eli-descp p,
  .eli-descp2 {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 0;
  }

  .eli-descp {
    position: absolute;
    left: 12%;
    top: 15%;
  }

  .eli-descp2 {
    position: absolute;
    right: 8%;
    top: 55%;
  }

  .eli-descp2 p {
    margin: 0;
    font-size: 14px;
  }

  .eli-descp2 .contact-inf p {
    margin-top: 15px;
    font-size: 11px;
  }
}

/* BIG SCREENS */

@media all and (min-width: 970px) {
  #main h1 {
    font-size: 70px;
    z-index: 30;
    left: 100px;
    top: 40px;
  }

  #main img {
    width: 60%;
    min-width: 300px;
    max-width: 550px;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 0;
  }

  .eli-descp p,
  .eli-descp2 {
    display: block;
    padding-left: 20px;
    font-size: 20px;
  }

  .eli-descp {
    position: absolute;
    left: 20%;
    top: 22%;
  }

  .eli-descp2 {
    position: absolute;
    right: 12%;
    top: 60%;
  }

  .eli-descp2 p {
    margin: 0;
    font-size: 18px;
  }

  .eli-descp2 .contact-inf p {
    margin-top: 15px;
    font-size: 13px;
  }
}

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  padding: 20px;
}

.f-left {
  text-align: left;
  padding-left: 25px;
}

.f-right {
  text-align: right;
  padding-right: 75px;
}
