:root {
  --light-blue: #f5f6fb;
  --dark-blue: #0034e3;
}

html {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--dark-blue);
}

.gr__127_0_0_1 {
  padding: 0;
  margin: 0;
}

/* HEADER */
header {
  position: relative;
  height: 30px;
}

.logo {
  position: absolute;
  top: 10px;
  width: 35px;
  text-align: left;
  left: 20px;
}

.navigation {
  position: absolute;
  text-align: right;
  top: 12px;
  letter-spacing: 1px;
  font-size: 16px;
  font-weight: 100;
  right: 20px;
}

a {
  font-family: "Anton";
  text-decoration: none;
  text-transform: uppercase;
  cursor: pointer;
}

a:hover {
  opacity: 0.5;
  cursor: pointer;
}

/* ABOUT ME PAGE */

#main {
  position: relative;
  top: 30px;
  height: 100vh;
  min-height: 800px;
  background-color: var(--light-blue);
  padding: 0;
  width: 100vw;
  overflow: hidden;
}

#main h1 {
  font-family: "Anton";
  letter-spacing: 5px;
  font-size: 35px;
  font-weight: 100;
  z-index: 30;
  position: absolute;
  margin-left: 5%;
  margin-top: 10px;
}

#main img {
  width: 100vw;
  padding: 0;
  height: auto;
  display: block;
  margin: 0;
}

.eli-descp p,
.eli-descp2 {
  display: block;
  padding-left: 15px;
  margin-top: -30px;
  font-size: 14px;
  font-family: "Roboto";
  line-height: 1.7;
  font-weight: 300;
  border-left: 0.07em solid var(--dark-blue);
}

.eli-descp {
  position: absolute;
  left: 12%;
  top: 15%;
}

.eli-descp2 {
  position: absolute;
  right: 8%;
  top: 53%;
}

.eli-descp2 p {
  margin: 0;
  font-size: 14px;
}

.eli-descp2 .contact-inf p {
  margin-top: 15px;
  font-size: 11px;
}

/* CV */

section#cv {
  position: relative;
  background-color: var(--light-blue);
  width: 101vw;
  height: 1000px;
  margin-top: -50px;
}

.cvcvcv h3 {
  position: absolute;
  font-family: "Anton";
  letter-spacing: 3px;
}

.cvcvcv h3:nth-child(1) {
  left: 44%;
  top: -85px;
}

.cvcvcv h3:nth-child(2) {
  left: 46%;
  top: -55px;
}

.cvcvcv h3:nth-child(3) {
  left: 48%;
  top: -25px;
}

.cvcvcv h3:nth-child(4) {
  left: 50%;
  top: 5px;
}

.cv-grid {
  display: grid;
  grid-template-columns: 750px 1fr 1fr;
  grid-gap: 20px;
}

.design-skills {
  font-family: "Roboto";
  padding-top: 80px;
  padding-left: 150px;
}

.design-skills ul {
  list-style: none;
  padding-left: 100px;
  padding-top: 0;
  font-size: 15px;
}

.design-skills .skill-level {
  display: inline-block;
  text-align: right;
  font-size: 10px;
  border-bottom: var(--dark-blue) 1px solid;
}

.design-skills li:nth-child(1) span {
  width: 300px;
}

.design-skills li:nth-child(2) span {
  width: 255px;
}

.design-skills li:nth-child(3) span {
  width: 210px;
}

.design-skills li:nth-child(4) span {
  width: 150px;
}

.design-skills li:nth-child(5) span {
  width: 90px;
}

.design-skills li:nth-child(6) span {
  width: 120px;
}

.design-skills li:nth-child(7) span {
  width: 249px;
}

.design-skills li:nth-child(8) span {
  width: 240px;
}

.design-skills li:nth-child(9) span {
  width: 225px;
}

.design-skills li:nth-child(10) span {
  width: 45px;
}

.design-skills li:nth-child(11) span {
  width: 60px;
}

.design-skills li:nth-child(12) span {
  width: 150px;
}

.design-skills .skill-name {
  display: inline-block;
  width: 100px;
  padding: 0;
  margin: 2px;
}

.design-skills h2,
.hobby h2 {
  font-family: "Anton";
  font-size: 40px;
  letter-spacing: 7px;
  padding-bottom: 0;
  margin-bottom: 0;
}

.education,
.work {
  padding-top: 80px;
  text-align: center;
  line-height: 5px;
}

.education img {
  width: 90px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.work img {
  width: 60px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 35px;
}

.education .school h3,
.education .school h4,
.work-experience h3,
.work-experience h4 {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
}

.education .school h2,
.work-experience h2 {
  font-family: "Roboto";
  font-size: 14px;
}

.education .school + .school::before {
  content: "";
  width: 0;
  height: 90px;
  border: #0034e3 solid 0.5px;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.hobby h2 {
  padding-left: 260px;
  padding-bottom: 18px;
}

.hobby div img {
  width: 60px;
  margin: 0;
  padding: 3px;
}

.hobby p {
  font-family: "Roboto";
  font-weight: 300;
  font-size: 12px;
  margin: 0;
}

.hobby div {
  display: block;
  text-align: center;
}

.hobby div:nth-child(2) {
  margin-left: -800px;
}

.hobby div:nth-child(3) {
  margin-left: -500px;
  margin-top: -50px;
}

.hobby div:nth-child(4) {
  margin-left: -200px;
  margin-top: -150px;
}

.hobby div:nth-child(5) {
  margin-left: -700px;
  margin-top: 100px;
}

.hobby div:nth-child(6) {
  margin-left: -300px;
  margin-top: -130px;
}

button {
  font-family: "Roboto";
  border: 1px solid var(--dark-blue);
  background-color: transparent;
  color: var(--dark-blue);
  font-size: 18px;
  padding: 10px 30px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 50px;
}

/* MEDIUM SCREENS */

@media all and (min-width: 700px) {
  html {
    padding: 0;
  }

  #main {
    background-color: white;
  }

  #main h1 {
    letter-spacing: 20px;
    font-size: 60px;
    left: 5%;
    top: 0;
  }

  #main img {
    width: 60%;
    min-width: 300px;
    max-width: 500px;
    height: auto;
    display: block;
    position: absolute;
    top: -2%;
    left: 35%;
    z-index: 0;
  }

  .eli-descp p,
  .eli-descp2 {
    display: block;
    padding-left: 20px;
    font-size: 14px;
    margin-top: 0;
  }

  .eli-descp {
    position: absolute;
    left: 12%;
    top: 120px;
  }

  .eli-descp2 {
    position: absolute;
    right: 8%;
    top: 400px;
  }

  .eli-descp2 p {
    margin: 0;
    font-size: 14px;
  }

  .eli-descp2 .contact-inf p {
    margin-top: 15px;
    font-size: 11px;
  }
}

/* BIG SCREENS */

@media all and (min-width: 970px) {
  #main h1 {
    font-size: 70px;
    z-index: 30;
    left: 100px;
    top: 40px;
  }

  #main img {
    width: 60%;
    min-width: 300px;
    max-width: 550px;
    height: auto;
    display: block;
    position: absolute;
    top: 0;
    left: 40%;
    z-index: 0;
  }

  .eli-descp p,
  .eli-descp2 {
    display: block;
    padding-left: 20px;
    font-size: 20px;
  }

  .eli-descp {
    position: absolute;
    left: 20%;
    top: 180px;
  }

  .eli-descp2 {
    position: absolute;
    right: 12%;
    top: 500px;
  }

  .eli-descp2 p {
    margin: 0;
    font-size: 18px;
  }

  .eli-descp2 .contact-inf p {
    margin-top: 15px;
    font-size: 13px;
  }
}

/* FOOTER */
footer {
  display: flex;
  width: 100%;
  justify-content: space-between;
  background-color: white;
  font-size: 12px;
  font-family: "Roboto";
  font-weight: 300;
  padding: 20px;
}

.f-left {
  text-align: left;
  padding-left: 25px;
}

.f-right {
  text-align: right;
  padding-right: 75px;
}
